<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Brand Info</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ brand.getName }} Homepage</h1>

            {% if stores is not empty %}
            <h3>Here are the stores that sell this brand:</h3>
            <ul>
                {% for store in stores %}
                    <li><a href="//stores/{{ store.getId }}/view">{{ store.getName }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="/brand/{{ brand.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn-danger">Delete Brand</button>
            </form>
            <p>Nevermind? Go <a href="/brands">back</a></p>
        </div>
    </body>
</html>
