<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Shoes</title>
    </head>
    <body>
        <div class='container'>
            <h1>OMG Shoes Store Headquarters!</h1>

            <p>Add a Shoe Store<p>

                <form action="/add_store" method="post">
                    <label for="name">Store name</label>
                    <input id="name" name="name" type="text" class="form-control" required>

                    <label for="location">Location:</label>
                    <input id="location" name="location" type="text" class="form-control" required>

                    <label for="phone">Phone:</label>
                    <input id="phone" name="phone" type="text" class="form-control" required>

                    <button type="submit" class="btn btn-primary">Add Store</button>
                </form>

            {% if stores is not empty %}
                <p>All Stores</p>
                    <ul>
                    {% for store in stores %}
                        <li><a href="/stores/{{ store.getId }}/edit">{{ store.getName }}</a></li>
                            <ul>
                                <li>{{ store.getLocation }}</li>
                                <li>{{ store.getPhone }}</li>
                            </ul>
                    {% endfor %}
                    </ul>
                    {% else %}
                <p>Currently no stores selling shoes :(</p>
            {% endif %}

            <form action="/delete_all_stores" method="post">
                <button type="submit" class="btn btn-danger">Clear all stores</button>
            </form>
        </div>
    </body>
</html>
